
body {
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  font-family: "Outfit", serif;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 40px hsl(220, 15%, 55%);
  padding: 4%;
  top: 25%;
  text-align: center;
  width: 375px;
}

#qr {
  border-radius: 15px;
  height: 375px;
  width: 375px;

}

#logo {
  height: 10%;
  width: 50%;
  margin-top: 20px;
}

.upi {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.upi > img {
  padding: 5px;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  padding: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
